body {
	background: #443d3d;
	background: radial-gradient(circle, #362f2f 50%, #743737 100%);
}

h1  {
	color: white; 
	font-family:Math;
	background: #443d3d;
	background: radial-gradient(circle, #974545 15%, #743737 100%);
	font-size: 3.5em;
}

h1:only-child {
	border-radius: 15px 50px 30px 5px;
}

div:only-child{
	border: solid darkred 10px;
}
@keyframes sprite {
	from {background-position-x:0px;}
	to { background-position-x: 1400px;}
  }
  
  .terminal {
	height: 200px;
	width: 170px;
	background: url(Images/spritesheet.png);
	background-size: auto 100%;
	animation: sprite 1s steps(6) infinite;
  }
  
@media only screen and (min-width: 200px) {
	.terminal {
	  transform: scale(1);
	}
  }
  
#title {
	color: white; 
	font-family:Math;
	background: #443d3d;
	background: radial-gradient(circle, #974545 15%, #743737 100%);
	font-size: 3.5em;
	margin-right: 100px;
	margin-left: 100px;
	text-align: center;
}

#title:only-child {
	border-radius: 15px 50px 30px 5px;
}

h2{color: white;
	font-family:Math;
	background: #443d3d;
	background: radial-gradient(circle, #974545  15%, #743737 100%);
	margin-left: 20px;
	margin-right: 20px;
	text-align: left;
	font-size: 3em;
}

.Lvertical{
	border-left: 12px solid #974545;
    height: 1200px;
    position:absolute;
    margin-left: 5px;
 	top: 295px;
}

.Rvertical{
	border-right: 12px solid #974545;
    height: 1200px;
    position:absolute;
    margin-left: 1870px;
 	top: 295px;
}

#floatleft {
	margin-right: 900px;
	text-indent: 0px;
	background: #443d3d;
	background: linear-gradient(90deg, #743737 25%, #2c2a2a 55%);
	z-index: 5;
}
#floatright {
	margin-left: 900px;
	text-indent: 0px;
	background: #443d3d;
	background: linear-gradient(90deg, #2c2a2a 25%, #743737 55%);
	z-index: 5;
}

#floatlefts {
	margin-right: 500px;
	text-indent: 0px;
	background: #443d3d;
	background: linear-gradient(90deg, #743737 25%, #2c2a2a 55%);
}
#floatrights {
	margin-left: 500px;
	text-indent: 0px;
	background: #443d3d;
	background: linear-gradient(90deg, #2c2a2a 25%, #743737 55%);
}

#imgr {
	float: right;
	width: 270px;
	height: 270px;
	margin-right: 270px ;
	margin-bottom: 300px;
}
div{
	color: white;
	text-align: center;
	margin-right: 100px;
	margin-left: 100px;
}

#imgr2 {
	float: right;
	width: 800px;
	height: 500px;
	margin-right: 10px ;
	color: white;
	transition-property: transform;
	transition-duration: 1s;
	transition-timing-function: ease-out;
}

#imgr2:hover {
	transform: translate(0,-9px);
}
#imgr3 {
	float: left;
	width: 600px;
	height: 500px;
	margin-left: 80px ;
	color: white;
	transition-property: transform;
	transition-duration: 1s;
	transition-timing-function: ease-out;
}
#imgr3:hover {
	transform: translate(0,-9px);
}
#imgr4 {
	float: right;
	width: 700px;
	height: 500px;
	margin-right: 10px;
	color: white;
	transition-property: transform;
	transition-duration: 1s;
	transition-timing-function: ease-out;
}
#imgr4:hover {
	transform: translate(0,-9px);
}

#imgr5 {
	float: left;
	width: 100px;
	height: 100px;
	margin-right: 10px;
	color: white;
}

#imgr6 {
	float: right;
	width: 300px;
	height: 300px;
	margin-left: 100px;
	color: white;
}

a {
	margin: 50px;
	font-size: 2.5em;
	color: white;
	display: inline-block;
	transition: transform 0.5s, color 0.5s;
  }
  
  a:hover {
	color: #FB6F6F;
	transform: scaleX(1.08);
  }  
  

#link2{
	margin: 50px;
	font-size: 3em;
	color: white;
	text-align: center;
	transition: transform .25s;
	transition: margin .5s;
	transition: color, .5s;
}

#link2:hover {
	color: #FB6F6F;
	margin: 60px;
	transform: scale(1.08);
}

#return {
	width: 45px;
	height: 45px;
	position: absolute;
	background: url(Images/return-icon-vector-9.jpg) 0 0;
}

p  {
	color: rgb(255, 255, 255); 
	background: #443d3d;
	background: radial-gradient(circle, #2c2a2a 50%, #743737 100%);
	margin: 50px;
	text-indent: 100px;
	text-align: left;
	font-size: 1.65em;
}

#yesyesyes {
	color: rgb(255, 255, 255); 
	background: #443d3d;
	background: radial-gradient(circle, #2c2a2a 50%, #743737 100%);
	margin: 150px;
	text-indent: 100px;
	text-align: center;
	font-size: 1.65em;
}

#education {
	background: url(Images/educationnnn.png) 10px 10px;
	width: 45px;
	height: 45px;
}

iframe {
	margin-left: 150px;
	margin-right: 150px;
}

img[src$=".webp"] {
    outline: solid darkgray 2px;
}

img[src$=".png"] {
    border: solid darkred 2px;
}

img[src$=".jpg"] {
    border: solid darkmagenta 2px;
}
